@model Ergasia2mvc.Models.LoginViewModel

@if (ViewBag.flag == true)
{
    <script>
        alert('@ViewBag.AlertMessage');
    </script>
}

<div class="float-end">
    <p class="mb-3">You are logged in as: <b>@ViewBag.Secretary</b></p>
    <a class="btn btn-primary float-end" href="@Url.Action("Login", "User")">Log Out</a>
</div>

<div class="mb-5">

    <div class="d-inline-block">
        <form method="post" action="Register">
            <input type="hidden" class="form-control" value="@ViewBag.Secretary" asp-for="Username">
        
            <p>Who do you want to Add?</p>
        
            <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02" asp-for="Role">
                    <option selected value="Student">Add Student</option>
                    <option value="Professor">Add Professor</option>
                    <option value="Course">Add Course</option>
                </select>
            </div>
        
            <button type="submit" class="btn btn-primary">Submit Add Option</button>
        
        </form>
    </div>
</div>

<div class="text-center">

    <h2>Courses</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Semester</th>
                <th>Professor</th>
                <th>Assign</th>
                <th>Report</th>
            </tr>
        </thead>

        <tbody>
            @foreach (AddCourseViewModel course in ViewBag.Course)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.CourseTitle</td>
                    <td>@course.CourseSemester</td>
                    <td>@course.ProfessorAFM</td>

                    <td>
                        <a href="@Url.Action("ViewCourse", "Secretary", course)">Assign different Professor</a>
                    </td>
                    <td>
                        <a href="@Url.Action("StudentReport", "Secretary", course)">Add to Student Report</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>